#calendar{
    background-color: whitesmoke;
    padding: 2ex;
    margin-left: 290px;
    width: 900px;
    display: inline-block;
}


#DATE{
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 35px;
}

#month-view{
    width: 400px;
    background-color:white;
     border-radius: 1ex; 
    float: left;
}

#m{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}

#month-view span span{                     /* get two div  */
    display: inline-block;              /*   in one line */
}

#prev, #next{
    font-weight: bolder;
    margin-left: 2ex;
    margin-right: 2ex;
    cursor: pointer;
}

.bad-day{
    color : red !important;
}

#plan td{
    width: 60px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(8, 56, 97);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

#plan td:hover{
    background-color: black;
}

#plan th{
    font-family: sans-serif;
    font-size: 12px;
}

#asdiv{
    width: 450px;
    background-color:rgb(250, 179, 171);
    float: right;
    margin-right: 30px;
}

#a{
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
}
