#calendar{
    background-color: whitesmoke;
    padding: 2ex;
    /* margin-left: 290px; */
    width: auto;
}

#DATE{
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 35px;
}

#month-view{
    width: 500px;
    background-color:white;
    float: left;
}

#m{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

#month-view span span{                     /* get two div  */
    display: inline-block;              /*   in one line */
}

#prev, #next{
    font-weight: bolder;
    margin-left: 9ex;
    margin-right: 9ex;
    cursor: pointer;
}

/* .bad-day{
    color : #761217 !important;
} */

#plan td{
    width: 50px;
    height: 60px;
    cursor: pointer;
    background-color: #a07855FF;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    border:2px solid white;
}

#plan td:hover{
    background-color: #D4B996FF
}

#plan th{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
}

.color{
    padding: 0px;
    margin-left: 30px;
}
.color li{
    list-style: square;
}

.color ul{
    display: inline;
    float: left;
}

li::marker{
    font-size: 1.2em;
}

#available {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #a07855FF;
}

#sold-out{
    color: #dbd7d2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
#selected{
    color: #D4B996FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
} 
#asdiv{
    width: auto;
    margin-left: 3ex;
    height: 447px;
    overflow-y: scroll;
}

/* #day-date{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    font-weight: bold;
} */

#a{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    font-weight: bold;
}

#times{
    width: auto;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.timetd {
    width: 150px;
    padding-bottom: 25px;
    /* background-color: cornflowerblue; */
}

.timetd2 {
    width: 200px;
    padding-bottom: 25px;
    color: #a07855FF;
    font-weight: bold;
    /* background-color: darkorange; */
}

.selc{
    width: 150px;
    height: 38px;
    background-color:#a07855FF;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selc:hover{
    /* background-color: black;
    color: white; */
    opacity: 0.6;
}

.sold{
    background-color: #dbd7d2 !important;
    pointer-events: none;
}

.arr-selected{
    background-color: #D4B996FF !important;
}
