<!doctype html>
<html>
    <head>
        <link rel=stylesheet href=static/index.css>
        <script src=static/index.js defer></script>
    </head>
    <body>
        <div id=calendar>
            <div>SELECT A DATE</div>
            <div id=month-view>
                <h3>
                    <span id='prev'>&lt;</span>
                    <span id=month-name>monthnamegoeshere</span>
                    <span id=month-year>yeargoeshere</span>
                    <span id='next'>&gt;</span>
                </h3>
                <table id=plan>
                </table>
            </div>
        </div>
        <div id=day></div>
    </body>
</html>