<!doctype html>
<html>
    <head> 
        <link rel="stylesheet" href="static/index.css">
        <script src="static/index.js" defer></script>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    </head>
    <body>
        <div class="container-fluid"> <!--  bootstrap div-->
        <div class="row">
            <div id=calendar class="col-sm-4">
                <div id="DATE">SELECT A DATE</div>
                <div id=month-view class="col-sm-4">
                    <p id="m">
                        <span id='prev'>&lt;</span>                   <!-- &lt; is < sign -->
                        <span id=month-name>month names goes here</span>
                        <span id=month-year>year goes here</span>
                        <span id='next'>&gt;</span>                   <!-- &gt; is > sign -->
                    <p>
                    <table id=plan class="table">  </table>
                </div>      <!--month-view div-->

                <!-- available and select times -->
                <div id="asdiv" class="col-sm-4">
            
                    <p id='a'>
                        <span id="da"> day, </span>
                        <span id="mn"> month </span>
                        <span id="te"> date, </span>
                        <span id="yn"> year </span>
                    </p>

                </div>      <!--asdiv div -->
            </div>          <!-- calender div -->
            <div id=day></div>
        </div>   <!-- row div -->
        </div>   <!-- container fluid div -->
    </body>
</html>