<!doctype html>
<html>
    <head>
        <link rel=stylesheet href=static/index.css>
        <script src=static/index.js defer></script>
    </head>
    <body>
        <div id=calendar>
            <div id="DATE">SELECT A DATE</div>
            <div id=month-view>
                <p id="m">
                    <span id='prev'>&lt;</span>                   <!-- &lt; is < sign -->
                    <span id=month-name>month names goes here</span>
                    <span id=month-year>year goes here</span>
                    <span id='next'>&gt;</span>                   <!-- &gt; is > sign -->
                <p>
                <table id=plan>  </table>
            </div>
        </div>

        <div id=day></div>
    </body>
</html>




    


